<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lbycp24_everreadygroup.gopink" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GoPink!"
        android:theme="@style/AppTheme" >

        <activity
            android:name="lbycp24_everreadygroup.splashscreen.SplashScreenActivity"
            android:label="GoPink!" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="lbycp24_everreadygroup.splashscreen.MenuActivity"
            android:label="GoPink!">
            <intent-filter>
                <action android:name="com.coderefer.androidsplashscreenexample.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        </application>
        </manifest>